<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="@tokenized/cordova-plugin-ios-permit-getusermedia"
        version="1.0.0">
    <name>PermitGetUserMedia</name>
    <description>Cordova plugin allowing getUserMedia camera view without triggering a permission dialog every time
    </description>
    <license>MIT</license>
    <keywords>cordova,plugin,ios,camera,permissions,webrtc,getusermedia</keywords>
    <repo>https://github.com/tokenized/cordova-plugin-ios-permit-getusermedia</repo>
    <issue>https://github.com/tokenized/cordova-plugin-ios-permit-getusermedia/issues</issue>

    <js-module src="src/js/mediaPermissions.js" name="MediaPermissions">
        <clobbers target="MediaPermissions"/>
    </js-module>

    <platform name="ios">
        <header-file src="src/ios/PermitGetUserMedia.h"/>
        <source-file src="src/ios/PermitGetUserMedia.m"/>

        <source-file src="src/ios/MediaPermissionManager.h"/>
        <source-file src="src/ios/MediaPermissionManager.m"/>
        <source-file src="src/ios/MediaPermissionsPlugin.h"/>
        <source-file src="src/ios/MediaPermissionsPlugin.m"/>

        <framework src="AVFoundation.framework"/>
        <framework src="CoreMedia.framework"/>

        <!-- PermitGetUserMedia -->
        <config-file target="config.xml" parent="/*">
            <feature name="PermitGetUserMedia">
                <param name="ios-package" value="PermitGetUserMedia"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <!-- MediaPermissions -->
        <config-file target="config.xml" parent="/*">
            <feature name="MediaPermissions">
                <param name="ios-package" value="MediaPermissionsPlugin"/>
            </feature>
        </config-file>
    </platform>
</plugin>
